body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 50px 0 0 0;
    padding: 0;
    text-align: center;
}

#log {
    border: 1px solid #ddd;
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    height: 300px;
    overflow-y: scroll;
    font-family: monospace;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0 0 20px 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.98);
}

.return-button {
    background-color: #737373;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.return-button:hover {
    background-color: #464646;
}

.return-button:active {
    transform: scale(0.98);
}

#simulation-output {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #545454;
    background-color: #f9f9f9;
    font-family: monospace;
    white-space: pre-wrap;
}