<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Reservation System Simulation</title>
</head>
<body>
<h1>Simulate Parallelization Issues</h1>
<button onclick="window.location.href='/simulate-problems/deadlock-page'">Simulate Deadlock</button>
<button onclick="window.location.href='/simulate-problems/starvation-page'">Simulate Starvation</button>
<button onclick="window.location.href='/simulate-problems/livelock-page'">Simulate Livelock</button>

<button class="return-button" onclick="window.location.href='/'">Return to Home</button>

</body>
</html>